<!DOCTYPE html>
<html>
	<head>
        {% load static %}
        <style type="text/css">
			.wrapper {
	        min-height: 90vh;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center; }
                
        </style>
    </head>
    <div class="basic">
		{% include "donarheader.html" %}
	</div>
    <body>
        <div class="wrapper" style="background-image: url('{% static 'images/image6.jpg' %}');">
            
        

    </body>